:root {
	--index: calc(1vw + 1vh);
}

body {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

@font-face {
	font-family: open-sans;
	src: url(/fonts/OpenSans.ttf);
}

#home-title {
	font-family: open-sans;
	font-style: normal;
	font-size: calc(var(--index) * 1.2);
}

#lastNews-title {
	position: relative;
	font-family: open-sans;
	font-style: normal;
	font-weight: 600;
	font-size: calc(var(--index) * 0.9);
	left: 2vw;
	top: 2vh;
}

#lastNews-block {
	position: relative;
	overflow: hidden;
	width: calc(var(--index) * 30);
	height: calc(var(--index) * 21.7);
	margin: 0 calc(var(--index) * 0.1) calc(var(--index) * 0.11) 0;
	/* border: 0.1vh solid #bdbcbc; */
	top: 3vh;
	left: 1vw;
}

.lastNews-item {
	width: calc(var(--index) * 27);
	height: calc(var(--index) * 4.8);
	padding: calc(var(--index) * 0.8);
	margin: 0 calc(var(--index) * 0.3) calc(var(--index) * 0.3) 0;
	border: 0.1vh solid #bdbcbc;
	border-radius: 6px;
}

.lastNews-item-title{
	position: sticky;
	padding-left: calc(var(--index) * 1);
	height: 2vh;
}

.lastNews-item-title a {
	float: left;
	padding: 0;
	text-decoration: none;
	font-family: open-sans;
	font-weight: 700;
	font-size: calc(var(--index) * 0.65);
	color:black;
	display: block;
}


.lastNews-item-date a {
	margin-top: 1.4vh;
	pointer-events: none;
	display: inline-block;
	font-family:open-sans;
	line-height: calc(var(--index) * 0.65);
	text-align: center;
	padding: 0;
	font-size: calc(var(--index) * 0.5);
}

.lastNews-item-announce {
	position: sticky;
	width: calc(var(--index) * 25.6);
	height: calc(var(--index) * 3);
}

.lastNews-item-announce a {
	text-decoration: none;
	text-indent: 3.8%;
	text-align: justify;
	font-family: open-sans;
	font-weight: 500;
	font-size: calc(var(--index) * 0.6);
	color:black;
	display: block;
}

.lastNews-item-title a:hover {
	color:rgb(137, 6, 6);
}

.anotherPage-btn a {
	color: rgb(137, 6, 6);
	line-height: calc(var(--index) * 1.73);
	width: calc(var(--index) * 7.6);
	border-radius: calc(var(--index) * 1.7);
	font-size: calc(var(--index) * 0.62);
	background-color: #ffffff;
	display: inline-block;
	text-decoration: none;
	padding: 0 calc(var(--index) * 1.1);;
	border-style: solid;
	border-width: 0.3vh;
	border-color: rgb(137, 6, 6);
	font-family:open-sans;
	font-weight: 600;
	text-align: center;
	margin-top: 3vh;
	margin-left: 2vw;
}

.anotherPage-btn a:hover {
	background-color:rgb(137, 6, 6);
	color: #ffffff;
}
